<style>
.cities {
    background-color:black;
    color:white;
    margin:20px;
    padding:20px;
}
</style>
<style>
prove{
    background-color:rgb(232,232,232);
    color:black;
    margin:10px;
    padding:10px;
    font-style:italic;
}
</style>
<style type="text/css">
body {color:red; background-color:black;}
</style>
